Application[[:space:]]Monitoring[[:space:]]and[[:space:]]Oracle[[:space:]]Database@Azure[[:space:]]LevelUp[[:space:]]Series.pptx filter=lfs diff=lfs merge=lfs -text
Manage[[:space:]]and[[:space:]]Monitor[[:space:]]Oracle[[:space:]]Database@Azure[[:space:]]Level[[:space:]]Up[[:space:]]Series.pptx filter=lfs diff=lfs merge=lfs -text
